In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("Job Market Sri Lanka.csv")
df.head()

,year,month,job_title,industry,experience_level,salary_min_gbp,salary_max_gbp,salary_median_gbp,number_of_openings,demand_index,...,job_type,skills_required,job_title_encoded,industry_encoded,city_encoded,region_encoded,education_requirement_encoded,job_type_encoded,skills_required_encoded,hiring_trend_encoded
0,2025,2,Pharmacist,Retail,Senior,4819,7033,6224,8,58,...,Temporary,Customer Service,7,9,10,8,4,4,366,2
1,2025,5,Teacher,Telecoms,Senior,8223,14740,12703,6,38,...,Internship,"Accounting, SQL",11,10,10,6,1,2,111,2
2,2025,8,Sales Executive,Telecoms,Senior,10394,20832,13701,2,41,...,Part-time,"Accounting, Python, Project Management",9,10,9,7,2,3,109,2
3,2025,9,Sales Executive,Logistics,Entry,1795,4620,2814,5,26,...,Part-time,"Clinical Care, Communication, Accounting",9,7,11,2,0,3,135,0
4,2025,8,Sales Executive,Finance,Senior,14273,20999,18720,3,56,...,Temporary,"Data Analysis, Clinical Care, Excel",9,3,7,0,1,4,504,2

In [5]:
df.shape

(30000, 24)