In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pickle

In [13]:
df = pd.read_csv("cleaned_job_market.csv")
df.head()

         job_title experience_level   industry         city  salary_median_gbp
0       Pharmacist           Senior     Retail    Ratnapura               6224
1          Teacher           Senior   Telecoms    Ratnapura              12703
2  Sales Executive           Senior   Telecoms  Polonnaruwa              13701
3  Sales Executive            Entry  Logistics  Trincomalee               2814
4  Sales Executive           Senior    Finance       Matara              18720

In [14]:
df['job_title'].value_counts()

job_title
Software Engineer    2512
Marketing Manager    2463
Project Manager      2446
Data Scientist       2436
Pharmacist           2425
Civil Engineer       2386
Accountant           2379
Sales Executive      2349
HR Specialist        2327
Teacher              2173
Nurse                2105
Customer Support     1821
Name: count, dtype: int64

In [15]:
df['experience_level'].value_counts()

experience_level
Senior    10118
Mid        9412
Entry      8292
Name: count, dtype: int64

In [16]:
df['industry'].value_counts()

industry
Healthcare       2584
IT               2572
Telecoms         2534
Education        2466
Finance          2430
Construction     2417
Government       2359
Manufacturing    2314
Logistics        2278
Tourism          2254
Retail           2046
Agriculture      1568
Name: count, dtype: int64

In [17]:
df['city'].value_counts()

city
Batticaloa      2361
Colombo         2354
Jaffna          2351
Matara          2350
Kandy           2344
Trincomalee     2338
Anuradhapura    2337
Kurunegala      2325
Galle           2293
Ratnapura       2271
Negombo         2254
Polonnaruwa     2244
Name: count, dtype: int64

In [18]:
le_job = LabelEncoder()
le_exp = LabelEncoder()
le_ind = LabelEncoder()
le_city = LabelEncoder()

In [19]:
df['job_title'] = le_job.fit_transform(df['job_title'])
df['experience_level'] = le_exp.fit_transform(df['experience_level'])
df['industry'] = le_ind.fit_transform(df['industry'])
df['city'] = le_city.fit_transform(df['city'])

In [20]:
df.head()

   job_title  experience_level  industry  city  salary_median_gbp
0          7                 2         9    10               6224
1         11                 2        10    10              12703
2          9                 2        10     9              13701
3          9                 0         7    11               2814
4          9                 2         3     7              18720

In [21]:
df.to_csv("complete_preprocessing.csv", index=False)

In [22]:
with open('encoders.pickle', 'wb') as file:
    pickle.dump({
        "le_job": le_job,
        "le_exp": le_exp,
        "le_ind": le_ind,
        "le_city": le_city }, file)