In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pickle

In [3]:
df = pd.read_csv("cleaned_job_market.csv")
df.head()

         job_title experience_level   industry         city  salary_median_gbp
0       Pharmacist           Senior     Retail    Ratnapura               6224
1          Teacher           Senior   Telecoms    Ratnapura              12703
2  Sales Executive           Senior   Telecoms  Polonnaruwa              13701
3  Sales Executive            Entry  Logistics  Trincomalee               2814
4  Sales Executive           Senior    Finance       Matara              18720

In [4]:
df['job_title'].value_counts()

job_title
Software Engineer    2512
Marketing Manager    2463
Project Manager      2446
Data Scientist       2436
Pharmacist           2425
Civil Engineer       2386
Accountant           2379
Sales Executive      2349
HR Specialist        2327
Teacher              2173
Nurse                2105
Customer Support     1821
Name: count, dtype: int64